#navbar {
  border: 1px solid #9C9C9C;
  height: 120px;
  line-height: 120px;
  background-color: #fff;
  color: black;
}

#searchBoxContainer {
  height: 60px;
  border: 1px solid #9C9C9C;
}

#searchBoxContainer:hover {
  border: 1px solid #137ABE;
}

#searchBox{
  width: 100%;
  border: none;
  border-radius: 0%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
}

#searchBox:focus {
  outline: none;
  border-bottom: 1px dashed #9C9C9C;
}

#userInfo {
  padding-top: 25px;
  padding-right: 60px;
  line-height: normal;
  float: right;
}

#userInfo>li {
  padding: 2px;
  display: block;
  text-decoration: none;
}

#userName, #userTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#banner {
  zoom: 120%;
}

#arrow {
  color: #008B78;
}

.light-text {
  color: #979797;
}

.normal-text {
  color: #333A39;
}

.med-text {
  color: #605E5E;
}

.panel-heading {
  border: 1px solid red;
}

.container {
  padding-top: 20px;
}


/*Mobile Device Styling Below*/


/*------------------------------------------------*/


/*Resize Header on smaller screens*/

@media only screen and (max-width: 520px) {
  #navbar {
    border: 1px solid #9C9C9C;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    color: black;
  }
  #userInfo {
    padding-top: 5px;
    padding-right: 0px;
    line-height: normal;
    float: right;
  }
  #userInfo>li {
    font-size: .80em;
    padding: 2px;
    display: block;
    text-decoration: none;
  }
  #userStatus {
    display: none !important;
  }
  #banner {
    zoom: 80%;
  }
}
