
#navbar{
  border: 1px solid #9C9C9C;
  height: 120px ;
  line-height: 120px;
  background-color: #fff;
  color: black;
}

#userInfo{
  margin-top: 25px;
  padding-right: 60px;
  line-height: normal;
  float: right;
}

#userInfo > li{
  padding: 2px;
  display: block;
  text-decoration: none;
}

#userName, #userTitle{
  font-weight: bold;
}

#banner {
  zoom: 120%;
}

#arrow{
  color: #008B78;
}

.light-text{
  color: #979797
}

.normal-text{
  color: #333A39;
}

.med-text{
  color: #605E5E;
}
